In [1]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm
import lightgbm as lgb
from sklearn.model_selection import StratifiedKFold
from sklearn import metrics
import warnings

warnings.filterwarnings('ignore')
train_path = '../input/hy_round1_train_20200102'
test_path = '../input/hy_round1_testA_20200102'

In [36]:
train_files = os.listdir(train_path)
test_files = os.listdir(test_path)
print(len(train_files), len(test_files))

7000 2000

In [11]:
train_files[:3]

['6966.csv', '545.csv', '223.csv']

In [12]:
test_files[:3]

['8793.csv', '8787.csv', '8977.csv']

In [16]:
df = pd.read_csv(f'{train_path}/6966.csv')

In [17]:
df.head()

   渔船ID             x             y    速度   方向           time type
0  6966  6.265902e+06  5.279254e+06  0.11  306  1106 23:58:16   围网
1  6966  6.265902e+06  5.279254e+06  0.00    0  1106 23:48:21   围网
2  6966  6.265902e+06  5.279254e+06  0.00    0  1106 23:38:19   围网
3  6966  6.265902e+06  5.279254e+06  0.00    0  1106 23:28:36   围网
4  6966  6.265902e+06  5.279254e+06  0.32  130  1106 23:08:17   围网

In [18]:
df['type'].unique()

array(['围网'], dtype=object)

In [19]:
df.shape

(389, 7)

In [21]:
ret = []
for file in tqdm(train_files):
    df = pd.read_csv(f'{train_path}/{file}')
    ret.append(df)
df = pd.concat(ret)
df.columns = ['ship','x','y','v','d','time','type']

100%|██████████| 7000/7000 [00:34<00:00, 260.00it/s]

In [ ]:
df.to_hdf('../input/train.h5', 'df', mode='w')

In [37]:
ret = []
for file in tqdm(test_files):
    df = pd.read_csv(f'{test_path}/{file}')
    ret.append(df)
df = pd.concat(ret)
df.columns = ['ship','x','y','v','d','time']

100%|██████████| 2000/2000 [00:08<00:00, 225.65it/s]

In [41]:
df.to_hdf('../input/test.h5', 'df', mode='w')

In [40]:
df.shape

(782378, 6)

In [38]:
df.head()

   渔船ID             x             y    速度  方向           time
0  8793  6.102450e+06  5.112760e+06  0.00   0  1106 23:56:34
1  8793  6.102450e+06  5.112760e+06  0.00   0  1106 23:46:34
2  8793  6.102450e+06  5.112760e+06  0.00   0  1106 23:37:31
3  8793  6.102450e+06  5.112760e+06  0.16   0  1106 23:26:34
4  8793  6.102450e+06  5.112760e+06  0.00   0  1106 23:16:34